.dome-menu-wrapper {

    position: fixed;
    top: 8px;
    left: 15px;

    z-index: 999999;
    display: none;

}

@media (max-width: 900px) {

    .dome-menu-wrapper {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .theme-toggle-wrapper {
        display: none;
    }

}

/* =========================
   TOGGLE BUTTON
========================= */

.dome-toggle {

    width: 46px;
    height: 46px;

    border: none;
    border-radius: 14px;

    background: rgba(0,0,0,0.65);

    backdrop-filter: blur(12px);

    display: grid;
    grid-template-columns: repeat(3,1fr);

    gap: 4px;

    padding: 8px;

    cursor: pointer;

    position: relative;

    z-index: 9999999;

    box-shadow:
    0 0 18px rgba(0,255,255,0.25);

}

.dome-toggle span {

    width: 5px;
    height: 5px;

    background: #00e5ff;

    border-radius: 50%;

    margin: auto;

}

/* =========================
   DOME MENU
========================= */

.dome-menu {

    position: absolute;

    top: 0;
    left: 0;

     width: 160px;
    height: 420px;

    opacity: 0;

    pointer-events: none;

    transition: 0.35s ease;

}

.dome-menu.active {

    opacity: 1;

    pointer-events: auto;

}

/* HALF DOME */

.dome-menu::before {

    content: "";

    position: absolute;

    top: -50px;
    left: -260px;

    width: 520px;
    height: 520px;

    border-radius: 50%;

    background:
    radial-gradient(circle at center,
    rgba(0,255,255,0.08),
    rgba(0,0,0,0.94));

    box-shadow:
0 0 40px rgba(0,255,255,0.15),
inset 0 0 30px rgba(255,255,255,0.03);

    border: 1px solid rgba(255,255,255,0.08);

    backdrop-filter: blur(18px);

    z-index: 0;

}

/* MENU LIST */

.dome-menu ul {

    list-style: none;

    margin: 0;
    padding: 70px 0 0 0;

    display: flex;

    flex-direction: column;

    gap: 28px;

    position: relative;

    z-index: 2;

}

.dome-menu li {

    position: relative;

}
.dome-menu ul {
    .dome-menu ul {
    padding: 70px 0 0 0;
}
}

/* CURVED DOME EFFECT */
.dome-menu li:nth-child(1) {
    margin-left: 45px;
}

.dome-menu li:nth-child(2) {
    margin-left: 80px;
}

.dome-menu li:nth-child(3) {
    margin-left: 100px;
}

.dome-menu li:nth-child(4) {
    margin-left: 110px;
}

.dome-menu li:nth-child(5) {
    margin-left: 100px;
}

.dome-menu li:nth-child(6) {
    margin-left: 80px;
}

.dome-menu li:nth-child(7) {
    margin-left: 45px;
}

.dome-menu li:nth-child(8) {
    margin-left: 15px;
}

/* LINKS */

.dome-menu a {

    color: white;

    text-decoration: none;

    font-size: 14px;

    font-weight: 600;

    white-space: nowrap;

    transition: 0.25s ease;

}

.dome-menu a:hover {

    color: #00e5ff;

    transform: translateX(6px);

    text-shadow:
        0 0 10px rgba(0,255,255,0.9);

}
@media (max-width: 900px) {

    .nav-brand {

        margin-left: 60px;

    }

}