

/* ===== RESET ===== */
* { margin:0; 
    padding:0; 
    box-sizing:border-box; 
}

body {
    font-family: sans-serif;
    background: radial-gradient(circle at center, #0d1e15 0%, #14291e 100%);
    color: #d1fae5;
}

/* NAV */
.navbar {
    background:#020403;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 10px;
}

.navbar li a {
    color:#ffffff;
    text-decoration:none;
    font-size: 18px;
}

/* LAYOUT */
#apply-section {
    display:flex;
    justify-content:center;
    padding:20px;
}
.terminal-window {
    display:flex;
    width:95%;
    max-width:900px;
    border:1px solid #22c55e;
    background:rgba(10,25,18,0.9);
    border-radius: 10px;
    margin: 0 auto;
}

/* LEFT */
.terminal-left {
    flex:1;
    padding:10px;

}
.terminal-title {
    text-align:center;
    color:#22c55e;
    margin-bottom:20px;
}

.input-row {
    display:flex;
    gap:10px;
}
.input-group {
    flex:1;
    margin-bottom:15px;
}
.input-group label {
    font-size:10px;
    color:#86efac;
}
.input-group input {
    width:100%;
    padding:10px;
    background:rgba(0,0,0,0.6);
    border:1px solid #14532d;
    color:#d1fae5;
}

/* FILE */
.file-preview-zone {
    border:1px dashed #22c55e;
    padding:10px;
    text-align:center;
    margin-bottom:10px;
}
.action-buttons {
    display:flex;
    gap:10px;
}
.tech-btn {
    flex:1;
    padding:10px;
    background:#052e16;
    border:1px solid #14532d;
    color:#86efac;
    cursor:pointer;
}

/* CAMERA */
.video-container {
    display: flex;
    margin:20px auto;
    width: 350px;
    height:250px;
    place-items: center;
    background:black;
    border:2px solid #22c55e;
    position:relative;
}
video {
    width:100%;
    height:100%;
    object-fit:cover;
}
.laser {
    position:absolute;
    width:100%;
    height:3px;
    background:#22c55e;
    top:0;
    display:none;
    animation:scan 2s linear infinite;
}
@keyframes scan {
    0%{ top:0 }
    100%{ top:100% }
}

#status-text {
    margin-top:10px;
    font-size:12px;
}

/* RIGHT */
.terminal-right {
    width:290px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#020403;
    border-radius: 20px;
}

/* CARD */
.id-card-modern {
    width:270px;
    height: 550px;
    padding:20px;
    background:rgba(5,20,15,0.95);
    border:1px solid #14532d;
    text-align:center;
    border-radius: 20px;

}
.photo-area {
    width:230px;
    height:230px;
    margin:10px auto;
    border:2px solid #22c55e;
}
.photo-area img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.verify-badge {
    margin-top:10px;
    color:red;
}

.neon-glass-btn {
    width:100%;
    margin-top:10px;
    padding:10px;
    background:#064e3b;
    border:1px solid #22c55e;
    color:#bbf7d0;
    opacity:0.4;
    cursor:not-allowed;
}
.neon-glass-btn.active {
    opacity:1;
    background:#22c55e;
    color:black;
    cursor:pointer;
}

/* RESPONSIVE */
@media(max-width:768px){
    .terminal-window{ flex-direction:column; }
    .terminal-right{ width:100%; padding:20px; }
    .input-row{ flex-direction:column; }
}

/* --- ACTIVE PAGE --- */
.navbar li a[href*="apply.html"]{
    color: #69ff73;

    border-bottom:
        2px solid #11ff00;

    padding-bottom: 5px;
}