/* Job Roles List */
.job-card {
    text-align: left;
    background: radial-gradient(circle at center, #0b1a12 0%, #020403 100%);
    padding: 10px;
    border-left: 5px solid #004a99;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
}

.job-card h3 { 
    color: #04ca56; 
    margin-bottom: 20px;
}

.job-tag {
    display: inline-block;
    background: #244c29;
    padding: 4px 10px;
    font-size: 0.8rem;
    margin-top: 60px;
    border-radius: 20px;
}

.navbar {
    background:#020403;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 10px;
}

.navbar li a {
    color:#ffffff;
    text-decoration:none;
    font-size: 18px;
}

/* --- ACTIVE PAGE --- */
.navbar li a[href*="job-roles.html"]{
    color: #69ff73;

    border-bottom:
        2px solid #0dff00;

    padding-bottom: 5px;
}